[submodule "themes/terminal"]
    path = themes/hugo-theme-terminal
    url = https://github.com/panr/hugo-theme-terminal.git

[submodule "themes/HugoTeX"]
    path = themes/HugoTeX
    url = https://github.com/kaisugi/HugoTeX.git

[submodule "themes/papercss-hugo-theme"]
    path = themes/papercss-hugo-theme
    url = https://github.com/zwbetz-gh/papercss-hugo-theme.git

[submodule "themes/hello-friend"]
    path = themes/hello-friend
    url = https://github.com/panr/hugo-theme-hello-friend.git

[submodule "themes/jane"]
    path = themes/jane
    url = https://github.com/xianmin/hugo-theme-jane.git
