@import url('/styles/fonts.css');

:root {
    --main-background-color: #ebe5e2 /* #ede8e4 */;

    --header-footer-background-color: #dbd3cc;
    --border-color: #bdb2a8;

    --tr-nth-child-odd-color: #f4f2f0;
    --tr-nth-child-even-color: #eae8e6;
    --tr-hover-color: #e6e0dd;

    --blockquote-border-left-color: #946f42; /* Brown */
    --hr-color: #946f42; /* Brown */

    --a-hover-background-color: #decbba;
    --a-hover-color: #e3d5c8;
    --a-visited-color: #551a8b;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: "Linux Libertine", serif;
    background-color: var(--main-background-color);
    /* font-family: "EB Garamond", serif; */
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

body {
    display: flex;
    flex-direction: column;
    padding: 1em;
    overflow-wrap: break-word;
    text-rendering: optimizeLegibility;
    font-kerning: normal;

    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* For mobile phones */
@media (max-width: 768px) {
    body {
        max-width: 100%;
    }
}

header,
footer {
    flex: 1 1 auto;
    text-align: center;
    background: var(--header-footer-background-color);
    border: 0.1em solid var(--border-color);
}

header {
    padding: 0.25em;
    margin-top: 1em;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
    /* Ensure no gap between elements */
}

.profile-pic {
    flex-shrink: 0;
}

.profile-pic img {
    width: 100%;
    max-width: 75px;
    min-width: 75px;
    height: auto;
}

.profile-pic img:hover {
    transform: scale(1.1);
}

.header-text {
    flex-grow: 1;
    /* Grow to fill the space */
    text-align: center;
    /* Centers text inside */
    margin-right: 1em;
}


main {
    flex: 1 1 auto;
    padding: 1em;
    margin: 1em 0em;
    /* border: 0.1em solid var(--border-color); */
    display: flex;
    flex-direction: column;
}

footer {
    margin-bottom: 1em;
    padding: 1em;
}

h1,
h2,
h3 {
    font-family: "Linux Libertine", sans-serif;
    font-weight: 700;
}

p {
    text-indent: 1.5em;
    /* top, right, bottom, left */
    margin: 0em 0em 0em 0em;
    text-align: justify;
}

table {
    /* Remove the space between cells */
    /* border-collapse: collapse; */

    width: 100%;
}

tr {
    padding-left: 0.2em;
    padding-right: 0.2em;
}

td {
    padding-left: 0.2em;
    padding-right: 0.2em;
}

table tr:nth-child(odd) {
    background-color: var(--tr-nth-child-odd-color);
}

table tr:nth-child(even) {
    background-color: var(--tr-nth-child-even-color);
}

table tr:hover {
    background-color: var(--tr-hover-color);
}

img {
    max-width: 100%;
    height: auto;
}

svg {
    max-width: 100%;
    height: auto;
}

figure {
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    /* background-color: var(--a-hover-color); */
    color: var(--a-hover-color);
}

a:visited {
    color: var(--a-visited-color);
}

blockquote {
    margin: 2em 0em;
    padding-left: 1em;
    border-left: 0.2em solid var(--blockquote-border-left-color);
    color: gray;
}

nav {
    margin-top: 10px;
}

hr {
    width: 99%;
    border: 0;
    height: 1px;
    background: var(--hr-color);
}

/* ====== for index.html ===== */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    width: 100%;
}

.grid-item {
    overflow: scroll;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 1152px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

/* ====== for posts/index.html and index.html ===== */
.entry {
    align-items: center;
    margin: 0.2em 0em;
}

.entry .title {
    display: inline;
    font-weight: bold;
}

.entry .date {
    display: inline;
}

.entry .tags {
    display: inline;
    border: 0.1em groove var(--border-color);
}

.entry .summary {
    margin-top: 0.1em;
    display: block;
    color: gray;
}

/* ====== for post pages ===== */
.main-post h1 {
    text-align: center;
}

.main-post h2 {
    text-align: left;
    border-bottom: 0.05em solid black;
}

.main-post h3 {
    text-align: left;
    text-decoration: underline;
}

.main-post ul {
    margin: 0;
}


/* First Attempt */
/* :root { */
/*     --header-footer-background-color: #e0e0e0; */
/*     --header-text-color: #333333; */
/*     --footer-text-color: #a1a1a1; */
/*     --blockquote-text-color: #606060; */
/*     --blockquote-border-left-color: #e6e6e6; */
/*     --a-hover-background-color: #ffeeaa; */
/*     /* yellow */ */
/*     --a-hover-color: #551a8b; */
/*     --a-visited-color: #551a8b; */
/*     --border-color: #a8a8a8; */
/*     --tr-nth-child-odd-color: #f0f0f0; */
/*     --tr-nth-child-even-color: #f8f8f8; */
/*     --tr-hover-color: #e0e0e0; */
/* } */
